.cardBox{
    width: 300px;
    height: 350px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name{
    color: rgb(9, 8, 8);
}
.description{
    min-height: 100px;
    color: rgb(17, 16, 16);
    padding: 5px;
}

.imageContainer{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}

.image{
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%; 
    box-sizing: border-box;
    border-radius: 5px;
}

.flag{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.seeMore{
    width: 80px;
    height: 25px;
    position: relative;
    bottom: 0;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

