
.navContainer{
    width: 100vw;
    margin-right: 50px;
    background-color: rgb(0, 0, 0);
    color: beige;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 100px;
    margin-left: 50px;
  }

.navLinkContainer{
    width: 70vw;
    margin-right: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinkContainer a{
    text-decoration: none;
    color: beige;
    text-align: center;
  }

.navLinkContainer a:hover{
  text-shadow: 0 0 15px rgb(253, 253, 253);
}

.some{
    width: 50px;
    margin-right: 30px;
}