*{
    margin: 0;
}

.homeBox{
    height: 100vh;
}
.boxWrapper{
   
    display: flex;
    width: 100vw0px;
    justify-content: space-around;
    position: relative;
    bottom: 0;
}


.box{
    margin: 20px;
    width: 30vw;
    height: 200px;
    border: 2px groove darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}


.video-container{
    position: relative;
    width: 600px;
    height: 300px;
  }
  
.video{
    width: 100%;
    filter: saturate(0);
    object-fit: cover;
}

.title{
    position: absolute;
    margin-left: 50px;
    color: beige;
    top: 100px;
    left: 0;

}
.slogan{
    position: absolute;
    margin-left: 50px;
    top: 200px;;
    left: 0;
    color: beige;
}
  